.userProfile {
    background-color: #f8efc0;
}

@media (max-width: 500px) {
    .form-control-static {
        padding-top: 0px;
        width: 100%;
        text-overflow: ellipsis;
    }
}

@media (min-width: 768px) {
    .center-block{
        width:75%;
    }
}

html, body{height:100%; margin:0;padding:0}

.container-fluid{
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
    float:none;
    margin:0 auto;
}